<h1><%= @menu.name %></h1>
<% @menu.menu_items.each do |mi| %>
  <p>
    <%= mi.name %>
    <%= mi.price %>

    <%= mi.image %>
    <% if mi.image.length != 0 %>
    	<img src= <%=mi.image%> height= '150' width = '200'> </img>
    <% end %>

    <%= link_to 'Delete', menu_item_path(mi), :confirm => "Are you sure you want to delete this menu item?", :method => :delete %>
  </p>
<% end %>
   <%= link_to "Add Menu Item", new_menu_item_path %>
