
<h1><%= @restaurant.name %> </h1>
<h2> Menus </h2>
  <% @restaurant.menus.each do |m| %>
    <p>
    <%= link_to m.name, m%>

    <% if can? :destroy, @menu %>
      <%= link_to 'Delete', menu_path(m), :confirm => "Are you sure you want to delete this menu?", :method => :delete %>
    <% end %>

    </p>
<% end %>
<% if can? :create, @menu %>
  <%= link_to "Add Menu", new_menu_path %>
<%end%>

<h2> Reviews </h2>
<%= " Average Rating: " + @restaurant.printRating.to_s %>
<% if can? :create, @review %>
<br><%= link_to "Add Review", new_review_path(:restaurant_id => @restaurant.id) %></br>
<% end %>

<% @restaurant.reviews.each do |m| %>
  <p>
    <%= current_user.email + "'s Review"%><br> 
    <i> Rating</i> <%= m.rating %><br>
    <%= m.comment %> <br>
  </p>
<% end %>