<%= form_for(@review) do |x| %>
  <h1> Review for <%= @review.restaurant %> </h1> 
  <div>
    User: <%= current_user.email%>
    <!%= x.text_field :name%>
  </div>
  <div> 
    <%= x.label :comment, "Write your review" %>
    <%= x.text_field :comment %>
  </div>
  <div>
    <%= x.label :rating, "Leave your rating for the restaurant" %>
    <%= x.radio_button :rating, 1 %><b> 1 </b> 
    <%= x.radio_button :rating, 2 %><b> 2 </b> 
    <%= x.radio_button :rating, 3 %><b> 3 </b> 
    <%= x.radio_button :rating, 4 %><b> 4 </b>
    <%= x.radio_button :rating, 5 %><b> 5 </b> 
 
  </div>
    <%= x.hidden_field :restaurant_id, :value => @review.restaurant_id %>
    <%= x.submit%>
  </div>
  <% end %>