<!DOCTYPE html>
<html>
<head>
  <title>Menupages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to 'Home', :root %>
  <%= link_to 'Menus', menus_path %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
  <%= link_to 'New Menu', new_menu_path %>
  <%= link_to 'New Menu Item', new_menu_item_path %>
  <!-- <a href= "/"> Home </a>
  <a href = "/restaurants/new"> New Restaurant </a>
  <a href = "/menus/new"> New Menu </a> -->
</div>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
